body{
 font-family:Arial,sans-serif;
 margin:0;
 background:#f5f5f5;
}
/*header*/
header{
 background:#1a1a1a;
 color:white;
 padding:40px;
 text-align:center;
}
header h1{
 margin:0;
 font-size:42px;
}
header p{
 font-size:18px;
 color:#dcdcdc;
}
/*section design*/
section{
 width:80%;
 margin:auto;
 padding:40px 0;
 }
h2{
 color:#222;
 border-left:5px solid #1a1a1a;
 padding-left:10px;
 margin-bottom:20px;
}
.skills-list,.project-list{
 display:grid;
 grid-template-columns:repeat(3,1fr);
 gap:15px;
}
.card{
 background:white;
 padding:20px;
 border-radius:8px;
 box-shadow:1px 1px 5px gray;
}
/*footer*/
footer{
 background:#1a1a1a;
 color:white;
 text-align:center;
 padding:20px;
 margin-top:40px;
}
/*button*/
.btn{
 background:#1a1a1a;
 color:white;
 padding:10px 20px;
 border:none;
 margin-top:10px;
 cursor:pointer;
 border-radius:5px;
}
.btn:hover{
 background:#333;
}
 